/* Poppins - Local Font */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./files/poppins-latin-300-normal.woff2') format('woff2'),
       url('./files/poppins-latin-300-normal.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/poppins-latin-400-normal.woff2') format('woff2'),
       url('./files/poppins-latin-400-normal.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/poppins-latin-500-normal.woff2') format('woff2'),
       url('./files/poppins-latin-500-normal.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/poppins-latin-600-normal.woff2') format('woff2'),
       url('./files/poppins-latin-600-normal.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/poppins-latin-700-normal.woff2') format('woff2'),
       url('./files/poppins-latin-700-normal.woff') format('woff');
}
