/* Open Sans - Local Font */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/open-sans-latin-400-normal.woff2') format('woff2'),
       url('./files/open-sans-latin-400-normal.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/open-sans-latin-600-normal.woff2') format('woff2'),
       url('./files/open-sans-latin-600-normal.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/open-sans-latin-700-normal.woff2') format('woff2'),
       url('./files/open-sans-latin-700-normal.woff') format('woff');
}
