/* Roboto - Local Font */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./files/roboto-latin-300-normal.woff2') format('woff2'),
       url('./files/roboto-latin-300-normal.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/roboto-latin-400-normal.woff2') format('woff2'),
       url('./files/roboto-latin-400-normal.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/roboto-latin-500-normal.woff2') format('woff2'),
       url('./files/roboto-latin-500-normal.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/roboto-latin-600-normal.woff2') format('woff2'),
       url('./files/roboto-latin-600-normal.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/roboto-latin-700-normal.woff2') format('woff2'),
       url('./files/roboto-latin-700-normal.woff') format('woff');
}
